mat-card{
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    background-color: #d3dee4;
  }
  
  mat-card-content{
    margin:auto;
  }
  
  form{
    text-align: center;
    margin: auto;
  }
  
  h1{
    text-align: center;
  }
  button{
    margin: auto;
    width: 100%;
    align-content: center;
  }
  