.main-content {
    text-align: center;
    padding: 20px;
  }
  
  .features div {
    margin: 20px;
    display: inline-block;
    width: 30%;
  }
  
  .features img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  h2 {
    margin-top: 20px;  /* Adjust the value as needed */
}
